################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingSystemApi/.vs/BookingSystemApi/FileContentIndex
